.always-client-title {
    text-align: center;
    @include font(36px, 1.16, 0.03em, bold);
    color: var(--second-title-color);
    margin-bottom: 50px;
}

.always-client-list {
    display: flex;
    margin-top: 0 auto;
    justify-content: space-between;
}

.always-client-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    &:hover {
        border-color: var(--logo-hover-color);
     }
}
.always-client-link {
    transition: 250ms var(--cubic);
    display: flex;
}

.always-client-icon {
    fill: #AFB1B8;
    margin: 16px 32px 16px 32px;
    transition: 250ms var(--cubic);
    .always-client-link:hover & {
        fill: var(--logo-hover-color);
    }
}