.masters {
    background-color: #F5F4FA;;
}


.masters-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.masters-list {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    justify-content: space-between;
}

.masters-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.masters-name {
    padding: 30px 60px 16px 60px;
    background-color: var(--main-title-color);
}

.masters-social-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-between;
    padding: 0px 32px 30px 32px;
    background-color: var(--main-title-color);
}
.master-social-link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 250ms var(--cubic);
    &:hover {
        background-color: var(--logo-hover-color);
    }
    &:hover .masters-social-icon {
        fill: var(--main-title-color);
    }
}
.masters-social-icon {
    fill: #AFB1B8;
    transition: 250ms var(--cubic);
}
.masters-third-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.masters-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    padding-top: 10px;
}